<div class="card-container">
    <mat-card class="login-card">
      <mat-card-header>CATEGORY</mat-card-header>
      <mat-card-content>
        <form class="login-form" [formGroup]="categoryForm">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="category" placeholder="Ex. bakery">
            <mat-error *ngIf="categoryForm.get('category')?.hasError('required')">
              Category is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-footer class="card-footer">
        <button mat-button>Reset</button>
        <button mat-button id="categoryFormSubmit" (click)="saveCategory()">Save</button>
      </mat-card-footer>
    </mat-card>
  </div>
